<p>map works!</p>
<!-- For loop to add grid types? -->
<!--<mat-grid-list cols="5" rowHeight="5:1">-->
<!--  &lt;!&ndash; Need to access improvements icon property &ndash;&gt;-->
<!--  &lt;!&ndash; https://material.angular.dev/components/grid-list/overview &ndash;&gt;-->

<!--  <mat-grid-tile> 1 </mat-grid-tile>-->
<!--  <mat-grid-tile> 1 </mat-grid-tile>-->
<!--  <mat-grid-tile> 1 </mat-grid-tile>-->
<!--  <mat-grid-tile> 1 </mat-grid-tile>-->
<!--  <mat-grid-tile> 1 </mat-grid-tile>-->


<!--</mat-grid-list>-->

<!-- Might need to just do div and go from there https://m2.material.io/components/image-lists/web#style-customization-->




