#pageHeading { /* apply styling to id="pageHeading" */
    text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
  max-width: 500px;
  max-height: 500px;
  margin: auto;
}

